<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merchant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Merchant">
        <activity
            android:name=".update.UpdateProduct"
            android:exported="true" />
        <activity
            android:name=".addition.AddItemsInStock"
            android:exported="true" />
        <activity
            android:name=".addition.AddExpiredItems"
            android:exported="true" />
        <activity
            android:name=".addition.AddItemsReceived"
            android:exported="true" />
        <activity
            android:name=".addition.AddDelivery"
            android:exported="true" />
        <activity
            android:name=".addition.AddProducts"
            android:exported="true" />
        <activity
            android:name=".dashboardclass.Profile"
            android:exported="true" />
        <activity
            android:name=".details.ItemDetails"
            android:exported="true" />
        <activity
            android:name=".navigationbaractivities.Delivery"
            android:exported="true" />
        <activity
            android:name=".Orders"
            android:exported="true" />
        <activity
            android:name=".navigationbaractivities.Products"
            android:exported="true" />
        <activity
            android:name=".navigationbaractivities.Buyer"
            android:exported="true" />
        <activity
            android:name=".dashboardclass.ItemInStock"
            android:exported="true" />
        <activity
            android:name=".dashboardclass.Expired"
            android:exported="true" />
        <activity
            android:name=".dashboardclass.ItemsReceived"
            android:exported="true" />
        <activity
            android:name=".dashboardclass.Analysis"
            android:exported="true" />
        <activity
            android:name=".navigationbaractivities.Dashboard"
            android:exported="true" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>